%html
  %head
    %title Plop Blog
    %link{:rel => "stylesheet", :href => "/stylesheet.css", :type => "text/css"}/
  %body
    #container
      %header ceci est un header
      %nav
      #content-wrapper
        %content
          = yield
        #colspace
        #right-nav
      #footer-wrapper
        %footer Plop blog -- &copy; KissCool, Madtree<br/> powered by sinatra 
       
