%h1 Write a new article

%form{:method => 'post', :action => '/posts'}
  %fieldset
    %li
      %label{:for => 'title'} Title :
      %input{:type => 'text', :name => 'title'}
    %li
      %label{:for => 'short_title'} Short Title :
      %input{:type => 'text', :name => 'short_title'}
    %li
      %label{:for => 'author'} Author :
      %input{:type => 'text', :name => 'author'}
    %li
      %label{:for => 'body'} Body :
      %textarea{:name => 'body', :cols => 80, :rows => 15}
    %li
      %label{:for => 'tags'} Tags (separated by ',') :
      %input{:type => 'text', :name => 'tags'}
    %li
      %label{:for => 'published'} Must be published? :
      %input{:type => 'checkbox', :name => 'published'}
    %li
      %label{:for => 'oneliner'} Is it a one-liner? :
      %input{:type => 'checkbox', :name => 'oneliner'}
  %input{:type => "submit", :value => "Post article", :class => "button"}


